@page
@model ConfirmInvitationConfirmationModel
@{
  ViewData["Title"] = "Вы успешно зарегистрировались";
}

<h1>@ViewData["Title"]</h1>

<p>
  Ваша электронная почта потверждена.
  <br />
  В цифровой тренерской появился новый тренер. Добро пожаловать!
</p>

<p>
  <a asp-page="./Login">Войти в тренерскую</a>.
</p>
