@page
@model ConfirmEmailModel
@{
  ViewData["Title"] = "Подтверждение электронной почты";
}

<h1>@ViewData["Title"]</h1>
<div>
  <p>
    Ваша электронная почта потверждена. Спасибо, что выбрали нас!
  </p>
</div>
