@page
@model ResetPasswordConfirmationModel
@{
  ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
  Ваш пароль сброшен. <a asp-page="./Login">Войдите в тренерскую</a>.
</p>
